In [2]:
#import the liberary
import pandas as pd
import numpy as np

In [4]:
#load the dataset in pandas dataframe
df = pd.read_csv("titanic.csv")

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.tail(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [8]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
df["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [19]:
df.shape

(891, 12)

In [26]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
#Sort on the basis of indexex
df.sort_index(axis=1,ascending=False)

In [ ]:
#sort pclass column by descending if ascending = True then it can be ascending 
df.sort_values(by="Pclass",ascending=False)

In [37]:
df.iloc[1:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

# Data preprocessing:
# check Missing values

In [10]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [21]:
df.isnull().sum() #when data is qualitative the calculate mode of this and replace by mode

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df1 = df["Age"].mean()
df1
df["Age"].replace(np.nan,df1,inplace = True)

C:\Users\sanya\AppData\Local\Temp\ipykernel_6192\1141869627.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].replace(np.nan,df1,inplace = True)

In [12]:
df2 = df["Cabin"].mode()
df2

0        B96 B98
1    C23 C25 C27
2             G6
Name: Cabin, dtype: object

In [63]:
df["Cabin"].replace("C23",inplace = True)

In [68]:
df["Embarked"].fillna("S",inplace = True)

C:\Users\sanya\AppData\Local\Temp\ipykernel_15340\2661640854.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Embarked"].fillna("S",inplace = True)

In [69]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# Data Formatting and Data Normalization:

In [ ]:
#use dropna() for removing NAN values from dataset
df = df.dropna()

In [70]:
var = df.dtypes
print(var)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [71]:
col = df.select_dtypes(include=['object']).columns
col

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [73]:
col = df.select_dtypes(include=['int64']).columns
col

Index(['PassengerId', 'Survived', 'Pclass', 'SibSp', 'Parch'], dtype='object')

In [76]:
#type conversions.
df['Age'] = df['Age'].astype('int64')
df['Age'].dtype

dtype('int64')

#  Turn categorical variables into quantitative

In [85]:
df["Sex"].replace({'female':0,"male":1},inplace = True)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2500,C23,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.2833,C85,S
2,3,1,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9250,C23,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35,0,0,373450,8.0500,C23,S
5,6,0,3,"Moran, Mr. James",1,29,0,0,330877,8.4583,C23,Q
6,7,0,1,"McCarthy, Mr. Timothy J",1,54,0,0,17463,51.8625,E46,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2,3,1,349909,21.0750,C23,Q
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27,0,2,347742,11.1333,C23,Q
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14,1,0,237736,30.0708,C23,Q
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4,1,1,PP 9549,16.7000,G6,Q
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58,0,0,113783,26.5500,C103,Q
12,13,0,3,"Saundercock, Mr. William Henry",1,20,0,0,A/5. 2151,8.0500,C23,Q
13,14,0,3,"Andersson, Mr. Anders Johan",1,39,1,5,347082,31.2750,C23,Q
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14,0,0,350406,7.8542,C23,Q
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55,0,0,248706,16.0000,C23,Q
16,17,0,3,"Rice, Master. Eugene",1,2,4,1,382652,29.1250,C23,Q
17,18,1,2,"Williams, Mr. Charles Eugene",1,29,0,0,244373,13.0000,C23,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31,1,0,345763,18.0000,C23,Q
19,20,1,3,"Masselmani, Mrs. Fatima",0,29,0,0,2649,7.2250,C23,Q
20,21,0,2,"Fynney, Mr. Joseph J",1,35,0,0,239865,26.0000,C23,Q
21,22,1,2,"Beesley, Mr. Lawrence",1,34,0,0,248698,13.0000,D56,Q
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15,0,0,330923,8.0292,C23,Q
23,24,1,1,"Sloper, Mr. William Thompson",1,28,0,0,113788,35.5000,A6,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8,3,1,349909,21.0750,C23,Q
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38,1,5,347077,31.3875,C23,Q
26,27,0,3,"Emir, Mr. Farred Chehab",1,29,0,0,2631,7.2250,C23,Q
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19,3,2,19950,263.0000,C23 C25 C27,Q
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,0,0,330959,7.8792,C23,Q
29,30,0,3,"Todoroff, Mr. Lalio",1,29,0,0,349216,7.8958,C23,Q
30,31,0,1,"Uruchurtu, Don. Manuel E",1,40,0,0,PC 17601,27.7208,C23,Q
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,29,1,0,PC 17569,146.5208,B78,Q
32,33,1,3,"Glynn, Miss. Mary Agatha",0,29,0,0,335677,7.7500,C23,Q
33,34,0,2,"Wheadon, Mr. Edward H",1,66,0,0,C.A. 24579,10.5000,C23,Q
34,35,0,1,"Meyer, Mr. Edgar Joseph",1,28,1,0,PC 17604,82.1708,C23,Q
35,36,0,1,"Holverson, Mr. Alexander Oskar",1,42,1,0,113789,52.0000,C23,Q
36,37,1,3,"Mamee, Mr. Hanna",1,29,0,0,2677,7.2292,C23,Q
37,38,0,3,"Cann, Mr. Ernest Charles",1,21,0,0,A./5. 2152,8.0500,C23,Q
38,39,0,3,"Vander Planke, Miss. Augusta Maria",0,18,2,0,345764,18.0000,C23,Q
39,40,1,3,"Nicola-Yarred, Miss. Jamila",0,14,1,0,2651,11.2417,C23,Q
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",0,40,1,0,7546,9.4750,C23,Q
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",0,27,1,0,11668,21.0000,C23,Q
42,43,0,3,"Kraeff, Mr. Theodor",1,29,0,0,349253,7.8958,C23,Q
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",0,3,1,2,SC/Paris 2123,41.5792,C23,Q
44,45,1,3,"Devaney, Miss. Margaret Delia",0,19,0,0,330958,7.8792,C23,Q
45,46,0,3,"Rogers, Mr. William John",1,29,0,0,S.C./A.4. 23567,8.0500,C23,Q
46,47,0,3,"Lennon, Mr. Denis",1,29,1,0,370371,15.5000,C23,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",0,29,0,0,14311,7.7500,C23,Q
48,49,0,3,"Samaan, Mr. Youssef",1,29,2,0,2662,21.6792,C23,Q
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",0,18,1,0,349237,17.8000,C23,Q
50,51,0,3,"Panula, Master. Juha Niilo",1,7,4,1,3101295,39.6875,C23,Q
51,52,0,3,"Nosworthy, Mr. Richard Cater",1,21,0,0,A/4. 39886,7.8000,C23,Q
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",0,49,1,0,PC 17572,76.7292,D33,Q
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",0,29,1,0,2926,26.0000,C23,Q
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",1,65,0,1,113509,61.9792,B30,Q
55,56,1,1,"Woolner, Mr. Hugh",1,29,0,0,19947,35.5000,C52,Q
56,57,1,2,"Rugg, Miss. Emily",0,21,0,0,C.A. 31026,10.5000,C23,Q
57,58,0,3,"Novel, Mr. Mansouer",1,28,0,0,2697,7.2292,C23,Q
58,59,1,2,"West, Miss. Constance Mirium",0,5,1,2,C.A. 34651,27.7500,C23,Q
59,60,0,3,"Goodwin, Master. William Frederick",1,11,5,2,CA 2144,46.9000,C23,Q
60,61,0,3,"Sirayanian, Mr. Orsen",1,22,0,0,2669,7.2292,C23,Q
61,62,1,1,"Icard, Miss. Amelie",0,38,0,0,113572,80.0000,B28,S
62,63,0,1,"Harris, Mr. Henry Birkhardt",1,45,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",1,4,3,2,347088,27.9000,C23,S
64,65,0,1,"Stewart, Mr. Albert A",1,29,0,0,PC 17605,27.7208,C23,S
65,66,1,3,"Moubarek, Master. Gerios",1,29,1,1,2661,15.2458,C23,S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",0,29,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",1,19,0,0,S.P. 3464,8.1583,C23,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",0,17,4,2,3101281,7.9250,C23,S
69,70,0,3,"Kink, Mr. Vincenz",1,26,2,0,315151,8.6625,C23,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",1,32,0,0,C.A. 33111,10.5000,C23,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",0,16,5,2,CA 2144,46.9000,C23,S
72,73,0,2,"Hood, Mr. Ambrose Jr",1,21,0,0,S.O.C. 14879,73.5000,C23,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",1,26,1,0,2680,14.4542,C23,S
74,75,1,3,"Bing, Mr. Lee",1,32,0,0,1601,56.4958,C23,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",1,25,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",1,29,0,0,349208,7.8958,C23,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",1,29,0,0,374746,8.0500,C23,S
78,79,1,2,"Caldwell, Master. Alden Gates",1,0,0,2,248738,29.0000,C23,S
79,80,1,3,"Dowdell, Miss. Elizabeth",0,30,0,0,364516,12.4750,C23,S
80,81,0,3,"Waelens, Mr. Achille",1,22,0,0,345767,9.0000,C23,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",1,29,0,0,345779,9.5000,C23,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",0,29,0,0,330932,7.7875,C23,Q
83,84,0,1,"Carrau, Mr. Francisco M",1,28,0,0,113059,47.1000,C23,Q
84,85,1,2,"Ilett, Miss. Bertha",0,17,0,0,SO/C 14885,10.5000,C23,Q
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",0,33,3,0,3101278,15.8500,C23,Q
86,87,0,3,"Ford, Mr. William Neal",1,16,1,3,W./C. 6608,34.3750,C23,Q
87,88,0,3,"Slocovski, Mr. Selman Francis",1,29,0,0,SOTON/OQ 392086,8.0500,C23,Q
88,89,1,1,"Fortune, Miss. Mabel Helen",0,23,3,2,19950,263.0000,C23 C25 C27,Q
89,90,0,3,"Celotti, Mr. Francesco",1,24,0,0,343275,8.0500,C23,Q
90,91,0,3,"Christmann, Mr. Emil",1,29,0,0,343276,8.0500,C23,Q
91,92,0,3,"Andreasson, Mr. Paul Edvin",1,20,0,0,347466,7.8542,C23,Q
92,93,0,1,"Chaffee, Mr. Herbert Fuller",1,46,1,0,W.E.P. 5734,61.1750,E31,Q
93,94,0,3,"Dean, Mr. Bertram Frank",1,26,1,2,C.A. 2315,20.5750,C23,Q
94,95,0,3,"Coxon, Mr. Daniel",1,59,0,0,364500,7.2500,C23,Q
95,96,0,3,"Shorney, Mr. Charles Joseph",1,29,0,0,374910,8.0500,C23,Q
96,97,0,1,"Goldschmidt, Mr. George B",1,71,0,0,PC 17754,34.6542,A5,Q
97,98,1,1,"Greenfield, Mr. William Bertram",1,23,0,1,PC 17759,63.3583,D10 D12,Q
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",0,34,0,1,231919,23.0000,C23,Q
99,100,0,2,"Kantor, Mr. Sinai",1,34,1,0,244367,26.0000,C23,Q
100,101,0,3,"Petranec, Miss. Matilda",0,28,0,0,349245,7.8958,C23,Q
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",1,29,0,0,349215,7.8958,C23,Q
102,103,0,1,"White, Mr. Richard Frasar",1,21,0,1,35281,77.2875,D26,Q
103,104,0,3,"Johansson, Mr. Gustaf Joel",1,33,0,0,7540,8.6542,C23,Q
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",1,37,2,0,3101276,7.9250,C23,Q
105,106,0,3,"Mionoff, Mr. Stoytcho",1,28,0,0,349207,7.8958,C23,Q
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",0,21,0,0,343120,7.6500,C23,Q
107,108,1,3,"Moss, Mr. Albert Johan",1,29,0,0,312991,7.7750,C23,Q
108,109,0,3,"Rekic, Mr. Tido",1,38,0,0,349249,7.8958,C23,Q
109,110,1,3,"Moran, Miss. Bertha",0,29,1,0,371110,24.1500,C23,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",1,47,0,0,110465,52.0000,C110,Q
111,112,0,3,"Zabour, Miss. Hileni",0,14,1,0,2665,14.4542,C23,Q
112,113,0,3,"Barton, Mr. David John",1,22,0,0,324669,8.0500,C23,Q
113,114,0,3,"Jussila, Miss. Katriina",0,20,1,0,4136,9.8250,C23,Q
114,115,0,3,"Attalah, Miss. Malake",0,17,0,0,2627,14.4583,C23,Q
115,116,0,3,"Pekoniemi, Mr. Edvard",1,21,0,0,STON/O 2. 3101294,7.9250,C23,Q
116,117,0,3,"Connors, Mr. Patrick",1,70,0,0,370369,7.7500,C23,Q
117,118,0,2,"Turpin, Mr. William John Robert",1,29,1,0,11668,21.0000,C23,Q
118,119,0,1,"Baxter, Mr. Quigg Edmond",1,24,0,1,PC 17558,247.5208,B58 B60,Q
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",0,2,4,2,347082,31.2750,C23,Q
120,121,0,2,"Hickman, Mr. Stanley George",1,21,2,0,S.O.C. 14879,73.5000,C23,Q
121,122,0,3,"Moore, Mr. Leonard Charles",1,29,0,0,A4. 54510,8.0500,C23,Q
122,123,0,2,"Nasser, Mr. Nicholas",1,32,1,0,237736,30.0708,C23,Q
123,124,1,2,"Webber, Miss. Susan",0,32,0,0,27267,13.0000,E101,Q
124,125,0,1,"White, Mr. Percival Wayland",1,54,0,1,35281,77.2875,D26,Q
125,126,1,3,"Nicola-Yarred, Master. Elias",1,12,1,0,2651,11.2417,C23,Q
126,127,0,3,"McMahon, Mr. Martin",1,29,0,0,370372,7.7500,C23,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",1,24,0,0,C 17369,7.1417,C23,Q
128,129,1,3,"Peter, Miss. Anna",0,29,1,1,2668,22.3583,F E69,Q
129,130,0,3,"Ekstrom, Mr. Johan",1,45,0,0,347061,6.9750,C23,Q
130,131,0,3,"Drazenoic, Mr. Jozef",1,33,0,0,349241,7.8958,C23,Q
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",1,20,0,0,SOTON/O.Q. 3101307,7.0500,C23,Q
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",0,47,1,0,A/5. 3337,14.5000,C23,Q
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",0,29,1,0,228414,26.0000,C23,Q
134,135,0,2,"Sobey, Mr. Samuel James Hayden",1,25,0,0,C.A. 29178,13.0000,C23,Q
135,136,0,2,"Richard, Mr. Emile",1,23,0,0,SC/PARIS 2133,15.0458,C23,Q
136,137,1,1,"Newsom, Miss. Helen Monypeny",0,19,0,2,11752,26.2833,D47,Q
137,138,0,1,"Futrelle, Mr. Jacques Heath",1,37,1,0,113803,53.1000,C123,Q
138,139,0,3,"Osen, Mr. Olaf Elon",1,16,0,0,7534,9.2167,C23,Q
139,140,0,1,"Giglio, Mr. Victor",1,24,0,0,PC 17593,79.2000,B86,Q
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",0,29,0,2,2678,15.2458,C23,Q
141,142,1,3,"Nysten, Miss. Anna Sofia",0,22,0,0,347081,7.7500,C23,Q
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",0,24,1,0,STON/O2. 3101279,15.8500,C23,Q
143,144,0,3,"Burke, Mr. Jeremiah",1,19,0,0,365222,6.7500,C23,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",1,18,0,0,231945,11.5000,C23,Q
145,146,0,2,"Nicholls, Mr. Joseph Charles",1,19,1,1,C.A. 33112,36.7500,C23,Q
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",1,27,0,0,350043,7.7958,C23,Q
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",0,9,2,2,W./C. 6608,34.3750,C23,Q
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",1,36,0,2,230080,26.0000,F2,Q
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",1,42,0,0,244310,13.0000,C23,Q
150,151,0,2,"Bateman, Rev. Robert James",1,51,0,0,S.O.P. 1166,12.5250,C23,Q
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",0,22,1,0,113776,66.6000,C2,Q
152,153,0,3,"Meo, Mr. Alfonzo",1,55,0,0,A.5. 11206,8.0500,C23,Q
153,154,0,3,"van Billiard, Mr. Austin Blyler",1,40,0,2,A/5. 851,14.5000,C23,Q
154,155,0,3,"Olsen, Mr. Ole Martin",1,29,0,0,Fa 265302,7.3125,C23,Q
155,156,0,1,"Williams, Mr. Charles Duane",1,51,0,1,PC 17597,61.3792,C23,Q
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",0,16,0,0,35851,7.7333,C23,Q
157,158,0,3,"Corn, Mr. Harry",1,30,0,0,SOTON/OQ 392090,8.0500,C23,Q
158,159,0,3,"Smiljanic, Mr. Mile",1,29,0,0,315037,8.6625,C23,Q
159,160,0,3,"Sage, Master. Thomas Henry",1,29,8,2,CA. 2343,69.5500,C23,Q
160,161,0,3,"Cribb, Mr. John Hatfield",1,44,0,1,371362,16.1000,C23,Q
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",0,40,0,0,C.A. 33595,15.7500,C23,Q
162,163,0,3,"Bengtsson, Mr. John Viktor",1,26,0,0,347068,7.7750,C23,Q
163,164,0,3,"Calic, Mr. Jovo",1,17,0,0,315093,8.6625,C23,Q
164,165,0,3,"Panula, Master. Eino Viljami",1,1,4,1,3101295,39.6875,C23,Q
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",1,9,0,2,363291,20.5250,C23,Q
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",0,29,0,1,113505,55.0000,E33,Q
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",0,45,1,4,347088,27.9000,C23,Q
168,169,0,1,"Baumann, Mr. John D",1,29,0,0,PC 17318,25.9250,C23,Q
169,170,0,3,"Ling, Mr. Lee",1,28,0,0,1601,56.4958,C23,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",1,61,0,0,111240,33.5000,B19,Q
171,172,0,3,"Rice, Master. Arthur",1,4,4,1,382652,29.1250,C23,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",0,1,1,1,347742,11.1333,C23,Q
173,174,0,3,"Sivola, Mr. Antti Wilhelm",1,21,0,0,STON/O 2. 3101280,7.9250,C23,Q
174,175,0,1,"Smith, Mr. James Clinch",1,56,0,0,17764,30.6958,A7,Q
175,176,0,3,"Klasen, Mr. Klas Albin",1,18,1,1,350404,7.8542,C23,Q
176,177,0,3,"Lefebre, Master. Henry Forbes",1,29,3,1,4133,25.4667,C23,Q
177,178,0,1,"Isham, Miss. Ann Elizabeth",0,50,0,0,PC 17595,28.7125,C49,Q
178,179,0,2,"Hale, Mr. Reginald",1,30,0,0,250653,13.0000,C23,Q
179,180,0,3,"Leonard, Mr. Lionel",1,36,0,0,LINE,0.0000,C23,Q
180,181,0,3,"Sage, Miss. Constance Gladys",0,29,8,2,CA. 2343,69.5500,C23,Q
181,182,0,2,"Pernot, Mr. Rene",1,29,0,0,SC/PARIS 2131,15.0500,C23,Q
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",1,9,4,2,347077,31.3875,C23,Q
183,184,1,2,"Becker, Master. Richard F",1,1,2,1,230136,39.0000,F4,Q
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",0,4,0,2,315153,22.0250,C23,Q
185,186,0,1,"Rood, Mr. Hugh Roscoe",1,29,0,0,113767,50.0000,A32,Q
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",0,29,1,0,370365,15.5000,C23,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",1,45,0,0,111428,26.5500,C23,Q
188,189,0,3,"Bourke, Mr. John",1,40,1,1,364849,15.5000,C23,Q
189,190,0,3,"Turcin, Mr. Stjepan",1,36,0,0,349247,7.8958,C23,Q
190,191,1,2,"Pinsky, Mrs. (Rosa)",0,32,0,0,234604,13.0000,C23,Q
191,192,0,2,"Carbines, Mr. William",1,19,0,0,28424,13.0000,C23,Q
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",0,19,1,0,350046,7.8542,C23,Q
193,194,1,2,"Navratil, Master. Michel M",1,3,1,1,230080,26.0000,F2,Q
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",0,44,0,0,PC 17610,27.7208,B4,Q
195,196,1,1,"Lurette, Miss. Elise",0,58,0,0,PC 17569,146.5208,B80,Q
196,197,0,3,"Mernagh, Mr. Robert",1,29,0,0,368703,7.7500,C23,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",1,42,0,1,4579,8.4042,C23,Q
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",0,29,0,0,370370,7.7500,C23,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",0,24,0,0,248747,13.0000,C23,Q
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",1,28,0,0,345770,9.5000,C23,Q
201,202,0,3,"Sage, Mr. Frederick",1,29,8,2,CA. 2343,69.5500,C23,Q
202,203,0,3,"Johanson, Mr. Jakob Alfred",1,34,0,0,3101264,6.4958,C23,Q
203,204,0,3,"Youseff, Mr. Gerious",1,45,0,0,2628,7.2250,C23,Q
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",1,18,0,0,A/5 3540,8.0500,C23,Q
205,206,0,3,"Strom, Miss. Telma Matilda",0,2,0,1,347054,10.4625,G6,Q
206,207,0,3,"Backstrom, Mr. Karl Alfred",1,32,1,0,3101278,15.8500,C23,Q
207,208,1,3,"Albimona, Mr. Nassef Cassem",1,26,0,0,2699,18.7875,C23,Q
208,209,1,3,"Carr, Miss. Helen ""Ellen""",0,16,0,0,367231,7.7500,C23,Q
209,210,1,1,"Blank, Mr. Henry",1,40,0,0,112277,31.0000,A31,Q
210,211,0,3,"Ali, Mr. Ahmed",1,24,0,0,SOTON/O.Q. 3101311,7.0500,C23,Q
211,212,1,2,"Cameron, Miss. Clear Annie",0,35,0,0,F.C.C. 13528,21.0000,C23,Q
212,213,0,3,"Perkin, Mr. John Henry",1,22,0,0,A/5 21174,7.2500,C23,Q
213,214,0,2,"Givard, Mr. Hans Kristensen",1,30,0,0,250646,13.0000,C23,Q
214,215,0,3,"Kiernan, Mr. Philip",1,29,1,0,367229,7.7500,C23,Q
215,216,1,1,"Newell, Miss. Madeleine",0,31,1,0,35273,113.2750,D36,Q
216,217,1,3,"Honkanen, Miss. Eliina",0,27,0,0,STON/O2. 3101283,7.9250,C23,Q
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",1,42,1,0,243847,27.0000,C23,Q
218,219,1,1,"Bazzani, Miss. Albina",0,32,0,0,11813,76.2917,D15,Q
219,220,0,2,"Harris, Mr. Walter",1,30,0,0,W/C 14208,10.5000,C23,Q
220,221,1,3,"Sunderland, Mr. Victor Francis",1,16,0,0,SOTON/OQ 392089,8.0500,C23,Q
221,222,0,2,"Bracken, Mr. James H",1,27,0,0,220367,13.0000,C23,Q
222,223,0,3,"Green, Mr. George Henry",1,51,0,0,21440,8.0500,C23,Q
223,224,0,3,"Nenkoff, Mr. Christo",1,29,0,0,349234,7.8958,C23,Q
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",1,38,1,0,19943,90.0000,C93,Q
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",1,22,0,0,PP 4348,9.3500,C23,Q
226,227,1,2,"Mellors, Mr. William John",1,19,0,0,SW/PP 751,10.5000,C23,Q
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",1,20,0,0,A/5 21173,7.2500,C23,Q
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",1,18,0,0,236171,13.0000,C23,Q
229,230,0,3,"Lefebre, Miss. Mathilde",0,29,3,1,4133,25.4667,C23,Q
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",0,35,1,0,36973,83.4750,C83,Q
231,232,0,3,"Larsson, Mr. Bengt Edvin",1,29,0,0,347067,7.7750,C23,Q
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",1,59,0,0,237442,13.5000,C23,Q
233,234,1,3,"Asplund, Miss. Lillian Gertrud",0,5,4,2,347077,31.3875,C23,Q
234,235,0,2,"Leyson, Mr. Robert William Norman",1,24,0,0,C.A. 29566,10.5000,C23,Q
235,236,0,3,"Harknett, Miss. Alice Phoebe",0,29,0,0,W./C. 6609,7.5500,C23,Q
236,237,0,2,"Hold, Mr. Stephen",1,44,1,0,26707,26.0000,C23,Q
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",0,8,0,2,C.A. 31921,26.2500,C23,Q
238,239,0,2,"Pengelly, Mr. Frederick William",1,19,0,0,28665,10.5000,C23,Q
239,240,0,2,"Hunt, Mr. George Henry",1,33,0,0,SCO/W 1585,12.2750,C23,Q
240,241,0,3,"Zabour, Miss. Thamine",0,29,1,0,2665,14.4542,C23,Q
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",0,29,1,0,367230,15.5000,C23,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",1,29,0,0,W./C. 14263,10.5000,C23,Q
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",1,22,0,0,STON/O 2. 3101275,7.1250,C23,Q
244,245,0,3,"Attalah, Mr. Sleiman",1,30,0,0,2694,7.2250,C23,Q
245,246,0,1,"Minahan, Dr. William Edward",1,44,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",0,25,0,0,347071,7.7750,C23,Q
247,248,1,2,"Hamalainen, Mrs. William (Anna)",0,24,0,2,250649,14.5000,C23,Q
248,249,1,1,"Beckwith, Mr. Richard Leonard",1,37,1,1,11751,52.5542,D35,Q
249,250,0,2,"Carter, Rev. Ernest Courtenay",1,54,1,0,244252,26.0000,C23,Q
250,251,0,3,"Reed, Mr. James George",1,29,0,0,362316,7.2500,C23,Q
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",0,29,1,1,347054,10.4625,G6,Q
252,253,0,1,"Stead, Mr. William Thomas",1,62,0,0,113514,26.5500,C87,Q
253,254,0,3,"Lobb, Mr. William Arthur",1,30,1,0,A/5. 3336,16.1000,C23,Q
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",0,41,0,2,370129,20.2125,C23,Q
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",0,29,0,2,2650,15.2458,C23,Q
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",0,29,0,0,PC 17585,79.2000,C23,Q
257,258,1,1,"Cherry, Miss. Gladys",0,30,0,0,110152,86.5000,B77,Q
258,259,1,1,"Ward, Miss. Anna",0,35,0,0,PC 17755,512.3292,C23,Q
259,260,1,2,"Parrish, Mrs. (Lutie Davis)",0,50,0,1,230433,26.0000,C23,Q
260,261,0,3,"Smith, Mr. Thomas",1,29,0,0,384461,7.7500,C23,Q
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",1,3,4,2,347077,31.3875,C23,Q
262,263,0,1,"Taussig, Mr. Emil",1,52,1,1,110413,79.6500,E67,Q
263,264,0,1,"Harrison, Mr. William",1,40,0,0,112059,0.0000,B94,Q
264,265,0,3,"Henry, Miss. Delia",0,29,0,0,382649,7.7500,C23,Q
265,266,0,2,"Reeves, Mr. David",1,36,0,0,C.A. 17248,10.5000,C23,Q
266,267,0,3,"Panula, Mr. Ernesti Arvid",1,16,4,1,3101295,39.6875,C23,Q
267,268,1,3,"Persson, Mr. Ernst Ulrik",1,25,1,0,347083,7.7750,C23,Q
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",0,58,0,1,PC 17582,153.4625,C125,Q
269,270,1,1,"Bissette, Miss. Amelia",0,35,0,0,PC 17760,135.6333,C99,Q
270,271,0,1,"Cairns, Mr. Alexander",1,29,0,0,113798,31.0000,C23,Q
271,272,1,3,"Tornquist, Mr. William Henry",1,25,0,0,LINE,0.0000,C23,Q
272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",0,41,0,1,250644,19.5000,C23,Q
273,274,0,1,"Natsch, Mr. Charles H",1,37,0,1,PC 17596,29.7000,C118,Q
274,275,1,3,"Healy, Miss. Hanora ""Nora""",0,29,0,0,370375,7.7500,C23,Q
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",0,63,1,0,13502,77.9583,D7,Q
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",0,45,0,0,347073,7.7500,C23,Q

In [82]:
#method2
from sklearn.preprocessing import LabelEncoder
# Initialize LabelEncoder
label_encoder = LabelEncoder()
# Apply LabelEncoder to the categorical column
df["Sex"] = label_encoder.fit_transform(df["Sex"])
df['Sex']

0      1
1      0
2      0
3      0
4      1
5      1
6      1
7      1
8      0
9      0
10     0
11     0
12     1
13     1
14     0
15     0
16     1
17     1
18     0
19     0
20     1
21     1
22     0
23     1
24     0
25     0
26     1
27     1
28     0
29     1
30     1
31     0
32     0
33     1
34     1
35     1
36     1
37     1
38     0
39     0
40     0
41     0
42     1
43     0
44     0
45     1
46     1
47     0
48     1
49     0
50     1
51     1
52     0
53     0
54     1
55     1
56     0
57     1
58     0
59     1
60     1
61     0
62     1
63     1
64     1
65     1
66     0
67     1
68     0
69     1
70     1
71     0
72     1
73     1
74     1
75     1
76     1
77     1
78     1
79     0
80     1
81     1
82     0
83     1
84     0
85     0
86     1
87     1
88     0
89     1
90     1
91     1
92     1
93     1
94     1
95     1
96     1
97     1
98     0
99     1
100    0
101    1
102    1
103    1
104    1
105    1
106    0
107    1
108    1
109    0
110    1
111    0
112    1
113    0
114    0
115    1
116    1
117    1
118    1
119    0
120    1
121    1
122    1
123    0
124    1
125    1
126    1
127    1
128    0
129    1
130    1
131    1
132    0
133    0
134    1
135    1
136    0
137    1
138    1
139    1
140    0
141    0
142    0
143    1
144    1
145    1
146    1
147    0
148    1
149    1
150    1
151    0
152    1
153    1
154    1
155    1
156    0
157    1
158    1
159    1
160    1
161    0
162    1
163    1
164    1
165    1
166    0
167    0
168    1
169    1
170    1
171    1
172    0
173    1
174    1
175    1
176    1
177    0
178    1
179    1
180    0
181    1
182    1
183    1
184    0
185    1
186    0
187    1
188    1
189    1
190    0
191    1
192    0
193    1
194    0
195    0
196    1
197    1
198    0
199    0
200    1
201    1
202    1
203    1
204    1
205    0
206    1
207    1
208    0
209    1
210    1
211    0
212    1
213    1
214    1
215    0
216    0
217    1
218    0
219    1
220    1
221    1
222    1
223    1
224    1
225    1
226    1
227    1
228    1
229    0
230    0
231    1
232    1
233    0
234    1
235    0
236    1
237    0
238    1
239    1
240    0
241    0
242    1
243    1
244    1
245    1
246    0
247    0
248    1
249    1
250    1
251    0
252    1
253    1
254    0
255    0
256    0
257    0
258    0
259    0
260    1
261    1
262    1
263    1
264    0
265    1
266    1
267    1
268    0
269    0
270    1
271    1
272    0
273    1
274    0
275    0
276    0
277    1
278    1
279    0
280    1
281    1
282    1
283    1
284    1
285    1
286    1
287    1
288    1
289    0
290    0
291    0
292    1
293    0
294    1
295    1
296    1
297    0
298    1
299    0
300    0
301    1
302    1
303    0
304    1
305    1
306    0
307    0
308    1
309    0
310    0
311    0
312    0
313    1
314    1
315    0
316    0
317    1
318    0
319    0
320    1
321    1
322    0
323    0
324    1
325    0
326    1
327    0
328    0
329    0
330    0
331    1
332    1
333    1
334    0
335    1
336    1
337    0
338    1
339    1
340    1
341    0
342    1
343    1
344    1
345    0
346    0
347    0
348    1
349    1
350    1
351    1
352    1
353    1
354    1
355    1
356    0
357    0
358    0
359    0
360    1
361    1
362    0
363    1
364    1
365    1
366    0
367    0
368    0
369    0
370    1
371    1
372    1
373    1
374    0
375    0
376    0
377    1
378    1
379    1
380    0
381    0
382    1
383    0
384    1
385    1
386    1
387    0
388    1
389    0
390    1
391    1
392    1
393    0
394    0
395    1
396    0
397    1
398    1
399    0
400    1
401    1
402    0
403    1
404    0
405    1
406    1
407    1
408    1
409    0
410    1
411    1
412    0
413    1
414    1
415    0
416    0
417    0
418    1
419    0
420    1
421    1
422    1
423    0
424    1
425    1
426    0
427    0
428    1
429    1
430    1
431    0
432    0
433    1
434    1
435    0
436    0
437    0
438    1
439    1
440    0
441    1
442    1
443    0
444    1
445    1
446    0
447    1
448    0
449    1
450    1
451    1
452    1
453    1
454    1
455    1
456    1
457    0
458    0
459    1
460    1
461    1
462    1
463    1
464    1
465    1
466    1
467    1
468    1
469    0
470    1
471    1
472    0
473    0
474    0
475    1
476    1
477    1
478    1
479    0
480    1
481    1
482    1
483    0
484    1
485    0
486    0
487    1
488    1
489    1
490    1
491    1
492    1
493    1
494    1
495    1
496    0
497    1
498    0
499    1
500    1
501    0
502    0
503    0
504    0
505    1
506    0
507    1
508    1
509    1
510    1
511    1
512    1
513    0
514    1
515    1
516    0
517    1
518    0
519    1
520    0
521    1
522    1
523    0
524    1
525    1
526    0
527    1
528    1
529    1
530    0
531    1
532    1
533    0
534    0
535    0
536    1
537    0
538    1
539    0
540    0
541    0
542    0
543    1
544    1
545    1
546    0
547    1
548    1
549    1
550    1
551    1
552    1
553    1
554    0
555    1
556    0
557    1
558    0
559    0
560    1
561    1
562    1
563    1
564    0
565    1
566    1
567    0
568    1
569    1
570    1
571    0
572    1
573    0
574    1
575    1
576    0
577    0
578    0
579    1
580    0
581    0
582    1
583    1
584    1
585    0
586    1
587    1
588    1
589    1
590    1
591    0
592    1
593    0
594    1
595    1
596    0
597    1
598    1
599    1
600    0
601    1
602    1
603    1
604    1
605    1
606    1
607    1
608    0
609    0
610    0
611    1
612    0
613    1
614    1
615    0
616    1
617    0
618    0
619    1
620    1
621    1
622    1
623    1
624    1
625    1
626    1
627    0
628    1
629    1
630    1
631    1
632    1
633    1
634    0
635    0
636    1
637    1
638    0
639    1
640    1
641    0
642    0
643    1
644    0
645    1
646    1
647    1
648    1
649    0
650    1
651    0
652    1
653    0
654    0
655    1
656    1
657    0
658    1
659    1
660    1
661    1
662    1
663    1
664    1
665    1
666    1
667    1
668    1
669    0
670    0
671    1
672    1
673    1
674    1
675    1
676    1
677    0
678    0
679    1
680    0
681    1
682    1
683    1
684    1
685    1
686    1
687    1
688    1
689    0
690    1
691    0
692    1
693    1
694    1
695    1
696    1
697    0
698    1
699    1
700    0
701    1
702    0
703    1
704    1
705    1
706    0
707    1
708    0
709    1
710    0
711    1
712    1
713    1
714    1
715    1
716    0
717    0
718    1
719    1
720    0
721    1
722    1
723    1
724    1
725    1
726    0
727    0
728    1
729    0
730    0
731    1
732    1
733    1
734    1
735    1
736    0
737    1
738    1
739    1
740    1
741    1
742    0
743    1
744    1
745    1
746    1
747    0
748    1
749    1
750    0
751    1
752    1
753    1
754    0
755    1
756    1
757    1
758    1
759    0
760    1
761    1
762    1
763    0
764    1
765    0
766    1
767    0
768    1
769    1
770    1
771    1
772    0
773    1
774    0
775    1
776    1
777    0
778    1
779    0
780    0
781    0
782    1
783    1
784    1
785    1
786    0
787    1
788    1
789    1
790    1
791    1
792    0
793    1
794    1
795    1
796    0
797    0
798    1
799    0
800    1
801    0
802    1
803    1
804    1
805    1
806    1
807    0
808    1
809    0
810    1
811    1
812    1
813    0
814    1
815    1
816    0
817    1
818    1
819    1
820    0
821    1
822    1
823    0
824    1
825    1
826    1
827    1
828    1
829    0
830    0
831    1
832    1
833    1
834    1
835    0
836    1
837    1
838    1
839    1
840    1
841    1
842    0
843    1
844    1
845    1
846    1
847    1
848    1
849    0
850    1
851    1
852    0
853    0
854    0
855    0
856    0
857    1
858    0
859    1
860    1
861    1
862    0
863    0
864    1
865    0
866    0
867    1
868    1
869    1
870    1
871    0
872    1
873    1
874    0
875    0
876    1
877    1
878    1
879    0
880    0
881    1
882    0
883    1
884    1
885    0
886    1
887    0
888    0
889    1
890    1
Name: Sex, dtype: int64

In [78]:
# method2
df2 = pd.get_dummies(df['Sex'],prefix = 'Category')
df2

     Category_female  Category_male
0              False           True
1               True          False
2               True          False
3               True          False
4              False           True
5              False           True
6              False           True
7              False           True
8               True          False
9               True          False
10              True          False
11              True          False
12             False           True
13             False           True
14              True          False
15              True          False
16             False           True
17             False           True
18              True          False
19              True          False
20             False           True
21             False           True
22              True          False
23             False           True
24              True          False
25              True          False
26             False           True
27             False           True
28              True          False
29             False           True
30             False           True
31              True          False
32              True          False
33             False           True
34             False           True
35             False           True
36             False           True
37             False           True
38              True          False
39              True          False
40              True          False
41              True          False
42             False           True
43              True          False
44              True          False
45             False           True
46             False           True
47              True          False
48             False           True
49              True          False
50             False           True
51             False           True
52              True          False
53              True          False
54             False           True
55             False           True
56              True          False
57             False           True
58              True          False
59             False           True
60             False           True
61              True          False
62             False           True
63             False           True
64             False           True
65             False           True
66              True          False
67             False           True
68              True          False
69             False           True
70             False           True
71              True          False
72             False           True
73             False           True
74             False           True
75             False           True
76             False           True
77             False           True
78             False           True
79              True          False
80             False           True
81             False           True
82              True          False
83             False           True
84              True          False
85              True          False
86             False           True
87             False           True
88              True          False
89             False           True
90             False           True
91             False           True
92             False           True
93             False           True
94             False           True
95             False           True
96             False           True
97             False           True
98              True          False
99             False           True
100             True          False
101            False           True
102            False           True
103            False           True
104            False           True
105            False           True
106             True          False
107            False           True
108            False           True
109             True          False
110            False           True
111             True          False
112            False           True
113             True          False
114             True          False
115            False           True
116            False           True
117            False           True
118            False           True
119             True          False
120            False           True
121            False           True
122            False           True
123             True          False
124            False           True
125            False           True
126            False           True
127            False           True
128             True          False
129            False           True
130            False           True
131            False           True
132             True          False
133             True          False
134            False           True
135            False           True
136             True          False
137            False           True
138            False           True
139            False           True
140             True          False
141             True          False
142             True          False
143            False           True
144            False           True
145            False           True
146            False           True
147             True          False
148            False           True
149            False           True
150            False           True
151             True          False
152            False           True
153            False           True
154            False           True
155            False           True
156             True          False
157            False           True
158            False           True
159            False           True
160            False           True
161             True          False
162            False           True
163            False           True
164            False           True
165            False           True
166             True          False
167             True          False
168            False           True
169            False           True
170            False           True
171            False           True
172             True          False
173            False           True
174            False           True
175            False           True
176            False           True
177             True          False
178            False           True
179            False           True
180             True          False
181            False           True
182            False           True
183            False           True
184             True          False
185            False           True
186             True          False
187            False           True
188            False           True
189            False           True
190             True          False
191            False           True
192             True          False
193            False           True
194             True          False
195             True          False
196            False           True
197            False           True
198             True          False
199             True          False
200            False           True
201            False           True
202            False           True
203            False           True
204            False           True
205             True          False
206            False           True
207            False           True
208             True          False
209            False           True
210            False           True
211             True          False
212            False           True
213            False           True
214            False           True
215             True          False
216             True          False
217            False           True
218             True          False
219            False           True
220            False           True
221            False           True
222            False           True
223            False           True
224            False           True
225            False           True
226            False           True
227            False           True
228            False           True
229             True          False
230             True          False
231            False           True
232            False           True
233             True          False
234            False           True
235             True          False
236            False           True
237             True          False
238            False           True
239            False           True
240             True          False
241             True          False
242            False           True
243            False           True
244            False           True
245            False           True
246             True          False
247             True          False
248            False           True
249            False           True
250            False           True
251             True          False
252            False           True
253            False           True
254             True          False
255             True          False
256             True          False
257             True          False
258             True          False
259             True          False
260            False           True
261            False           True
262            False           True
263            False           True
264             True          False
265            False           True
266            False           True
267            False           True
268             True          False
269             True          False
270            False           True
271            False           True
272             True          False
273            False           True
274             True          False
275             True          False
276             True          False
277            False           True
278            False           True
279             True          False
280            False           True
281            False           True
282            False           True
283            False           True
284            False           True
285            False           True
286            False           True
287            False           True
288            False           True
289             True          False
290             True          False
291             True          False
292            False           True
293             True          False
294            False           True
295            False           True
296            False           True
297             True          False
298            False           True
299             True          False
300             True          False
301            False           True
302            False           True
303             True          False
304            False           True
305            False           True
306             True          False
307             True          False
308            False           True
309             True          False
310             True          False
311             True          False
312             True          False
313            False           True
314            False           True
315             True          False
316             True          False
317            False           True
318             True          False
319             True          False
320            False           True
321            False           True
322             True          False
323             True          False
324            False           True
325             True          False
326            False           True
327             True          False
328             True          False
329             True          False
330             True          False
331            False           True
332            False           True
333            False           True
334             True          False
335            False           True
336            False           True
337             True          False
338            False           True
339            False           True
340            False           True
341             True          False
342            False           True
343            False           True
344            False           True
345             True          False
346             True          False
347             True          False
348            False           True
349            False           True
350            False           True
351            False           True
352            False           True
353            False           True
354            False           True
355            False           True
356             True          False
357             True          False
358             True          False
359             True          False
360            False           True
361            False           True
362             True          False
363            False           True
364            False           True
365            False           True
366             True          False
367             True          False
368             True          False
369             True          False
370            False           True
371            False           True
372            False           True
373            False           True
374             True          False
375             True          False
376             True          False
377            False           True
378            False           True
379            False           True
380             True          False
381             True          False
382            False           True
383             True          False
384            False           True
385            False           True
386            False           True
387             True          False
388            False           True
389             True          False
390            False           True
391            False           True
392            False           True
393             True          False
394             True          False
395            False           True
396             True          False
397            False           True
398            False           True
399             True          False
400            False           True
401            False           True
402             True          False
403            False           True
404             True          False
405            False           True
406            False           True
407            False           True
408            False           True
409             True          False
410            False           True
411            False           True
412             True          False
413            False           True
414            False           True
415             True          False
416             True          False
417             True          False
418            False           True
419             True          False
420            False           True
421            False           True
422            False           True
423             True          False
424            False           True
425            False           True
426             True          False
427             True          False
428            False           True
429            False           True
430            False           True
431             True          False
432             True          False
433            False           True
434            False           True
435             True          False
436             True          False
437             True          False
438            False           True
439            False           True
440             True          False
441            False           True
442            False           True
443             True          False
444            False           True
445            False           True
446             True          False
447            False           True
448             True          False
449            False           True
450            False           True
451            False           True
452            False           True
453            False           True
454            False           True
455            False           True
456            False           True
457             True          False
458             True          False
459            False           True
460            False           True
461            False           True
462            False           True
463            False           True
464            False           True
465            False           True
466            False           True
467            False           True
468            False           True
469             True          False
470            False           True
471            False           True
472             True          False
473             True          False
474             True          False
475            False           True
476            False           True
477            False           True
478            False           True
479             True          False
480            False           True
481            False           True
482            False           True
483             True          False
484            False           True
485             True          False
486             True          False
487            False           True
488            False           True
489            False           True
490            False           True
491            False           True
492            False           True
493            False           True
494            False           True
495            False           True
496             True          False
497            False           True
498             True          False
499            False           True
500            False           True
501             True          False
502             True          False
503             True          False
504             True          False
505            False           True
506             True          False
507            False           True
508            False           True
509            False           True
510            False           True
511            False           True
512            False           True
513             True          False
514            False           True
515            False           True
516             True          False
517            False           True
518             True          False
519            False           True
520             True          False
521            False           True
522            False           True
523             True          False
524            False           True
525            False           True
526             True          False
527            False           True
528            False           True
529            False           True
530             True          False
531            False           True
532            False           True
533             True          False
534             True          False
535             True          False
536            False           True
537             True          False
538            False           True
539             True          False
540             True          False
541             True          False
542             True          False
543            False           True
544            False           True
545            False           True
546             True          False
547            False           True
548            False           True
549            False           True
550            False           True
551            False           True
552            False           True
553            False           True